<%= form_for(@book) do |f| %>
    <div class="input-field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="input-field">
        <%= f.label :author %>
        <%= f.collection_select(:author_id, Author.all, :id, :name) %>
        <div>Don't see your author? <%= link_to 'Add a new author here.', new_author_path, class: "btn btn-outline-primary" %></div>
    </div>
    <div class="input-field">
        <%= f.label :language %>
        <%= f.text_field :language %>
    </div>
    <div class="input-field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div class="input-field">
        <%= f.label :url %>
        <%= f.text_field :url %>
    </div>
    <button type="submit">Save Book</button>
<% end %>