<div class="container">
<h1>Welcome to FreeShelf</h1>
<h3>A library of online programming books, available for free</h3>

<%= link_to 'Add a Book', new_book_path, class: "btn btn-outline-primary m-3" %>

<table class='table table-striped'>
    <thead>
        <tr class="table-primary">
            <th>Book</th>
            <th><%= link_to 'Authors', authors_path, class: "btn btn-secondary" %></th>
            <th>Language</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
            <tr>
                <td><%= book.title %></td>
                <td><%= book.author.name %></td>
                <td><%= book.language %></td>
                <td><%= link_to 'View Details', book_path(book), class: "btn btn-outline-secondary" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>